/* header CSS */
.header-color {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Landing Page CSS */
.landing-grid {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-image {
  height: 20em;
  padding-top: 2em;
}

.banner-text {
  background-color: black;
  opacity: .4;
  width: 50%;
  margin: auto;
  border-radius: 1em;
}

.banner-text h1 {
  color: white;
  font-size: 4em;
  font-weight: bold;
  padding: .5em;
  margin: auto;
}

.banner-text h2 {
  color: white;
  font-size: 2em;
  padding: .5em;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 1.5em;
  padding: .5em;
  margin: auto;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}


/* Projects Page CSS */
.projects-grid {
  display: flex;
}



/* Contact page CSS */ 
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 40em;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid img {
  height: 15em;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  margin: auto;
  width: 75%;
  padding-top: 1em;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list {
  padding: 2em;
}

.list-item i {
  font-size: 2em;
  padding-left: 5rem;
}

.list-item h2 {
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  padding-left: 2rem;
}

/* begin team page CSS */
.team-grid {
  display: flex;
}
